.cursor-pointer {
	cursor: pointer;
}

#main-container {
	background: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;

	#main-content {
		background: #f1f1f1;

		display: grid;
		grid-template-areas: 'filters images';

		width: 80%;
		height: 90%;

		padding: 20px;

		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
		letter-spacing: 0.00938em;
		text-transform: none;
		text-decoration: none;
		text-shadow: none;

		h1 {
			font-size: 2rem;
			font-weight: 300;
			line-height: 1.167;
			letter-spacing: 0.00735em;
			text-transform: none;
			text-decoration: none;
			text-shadow: none;

			position: relative;
			top: 0;
		}

		#filters {
			border: 1px solid #000;
			grid-area: filters;
			max-width: 800px;
			height: 100%;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 2px;
			padding: 30px;
			justify-content: center;

			@media screen and (max-width: 1350px) {
				grid-template-columns: 1fr 1fr;
			}

			.filter-btn {
				appearance: button;
				backface-visibility: hidden;
				background-color: #405cf5;
				border-radius: 6px;
				border-width: 0;
				box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
				box-sizing: border-box;
				color: #fff;
				cursor: pointer;
				font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;
				font-size: 15px;
				outline: none;
				overflow: hidden;
				text-align: center;
				text-transform: none;
				transition: all 0.2s, box-shadow 0.08s ease-in;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				width: 100%;
				height: 100%;

				max-height: 110px;
				max-width: 180px;

				@media screen and (max-width: 1350px) {
					max-height: 280px;
					max-width: 280px;
				}

				&:disabled {
					cursor: default;
				}

				&:focus {
					box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
						rgba(50, 151, 211, 0.3) 0 0 0 4px;
				}

				&:hover {
					background-color: #df643e;
				}
			}
		}

		#images {
			border: 1px solid #000;
			grid-area: images;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			--image-size: 256px;

			label[for='input-image'] {
				min-width: 280px;
				display: block;
			}

			#input-image,
			#output-image {
				position: relative;
				height: var(--image-size);
				width: var(--image-size);
				background-color: #c1c1c1;
				margin-bottom: 26px;

				display: flex;

				align-items: center;
				justify-content: center;

				cursor: pointer;

				> img {
					width: 80px;
					height: 80px;
					position: absolute;
					z-index: 0;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					float: left;
					cursor: pointer;
				}

				> input[type='file'] {
					position: absolute;
					z-index: 1;
					width: 100%;
					height: 100%;
					opacity: 0;
					float: left;
					cursor: pointer;
				}

				clear: both;
			}
		}
	}
}

.modal-input {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: calc(50vh - 300px);
	left: calc(50vw - 300px);
	width: 600px;

	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
	z-index: 9999;

	padding: 18px;

	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;

	.modal-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		> h1 {
			font-weight: 500;
			line-height: 1.167;
			letter-spacing: 0.00735em;
			text-transform: none;
			text-decoration: none;
			text-shadow: none;
			font-size: 1.5rem;
			text-align: center;

			position: relative;
			top: 0;
		}

		> button {
			position: absolute;
			right: 25px;
			top: 15px;
			height: 10px;
			width: 10px;
			background: none;
			border: none;
			cursor: pointer;
			outline: none;
			padding: 0;
			margin: 0;
			font-size: 1.5rem;
			color: #000;
		}
	}

	form {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;

		.input-field {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: start;
			width: 80%;
			height: 100%;
			margin-top: 18px;

			> label {
				align-self: flex-start;
			}

			> input {
				width: calc(100% - 6px);
				height: 40px;
				border-radius: 6px;
				border: 1px solid #000;
				margin: 12px 0;
				padding: 5px 6px;

				&:focus {
					outline: none;
					border: 2px solid #405cf5;
				}
			}
		}

		.form-actions {
			width: 80%;

			> button {
				width: 100%;
				height: 40px;
				border-radius: 6px;
				border: 1px solid #000;
				padding: 0 12px;
				margin: 12px 0;
				background-color: #3b38f7;
				color: #fff;
				cursor: pointer;

				&:hover {
					background-color: #3b38f7a4;
				}
			}

			> button.cancel {
				background-color: #f73b3b;
				&:hover {
					background-color: #f73b3ba4;
				}
			}
		}
	}
}
